@import "/font/IBM_Plex_Sans.css";

@import "/util/pallete.less";
@import "/util/style/main.less";

@import "/util/style/menubar.less";
@import "/util/style/title.less";

body {
	margin: 0;
	padding: 100px 50px;
}

div.panel {
	padding: 8px 32px;

	position: relative;
	background-image: linear-gradient(to bottom right, var(--accent_0), 70%, var(--accent_4));
	background-size: cover;
	background-attachment: fixed;

	border: 3px solid var(--accent_6);

	&[data-label]::before {
		content: attr(data-label);
		text-transform: uppercase;

		position: absolute;
		top: 0; left: 0;

		padding: 0 3px;

		font-size: 12px;
		font-weight: bolder;

		background-color: var(--accent_6);
		color: var(--white);

		transform: translateY(calc(0px - 100% / 2)) scaleY(0);
		transition: transform 100ms ease-out;
	}
	&:hover::before {
		transform: none;
	}
}

#grid {
	max-width: 1000px;
	margin: auto;

	display: grid;
	grid-template-columns: 4fr 1fr 4fr;
	grid-gap: 10px;
	grid-template-areas:
		"announcement announcement announcement"
		"welcome      welcome      status      "
		"projects     projects     projects    "
		"identity     zoologist    zoologist   "
		"todo         todo         todo        "
	;

	div.announcement { grid-area: announcement; }
	div.welcome      { grid-area: welcome;      }
	div.status       { grid-area: status;       }
	div.projects     { grid-area: projects;     }
	div.identity     { grid-area: identity;     }
	div.zoologist    { grid-area: zoologist;    }
	div.todo         { grid-area: todo;         }

	div.announcement {
		position: relative;

		div.preview {
			padding: 3px 6px;
			span.content {
				text-transform: uppercase;
				margin-right: 10px;
			}
			span.date {
				color: var(--accent_9);
			}
		}

		div.body {
			padding: 32px 32px;

			p.date {
				color: var(--accent_9);
				text-indent: 2em;
			}
		}

		div.open-close {
			&, div {
				width: 24px; height: 24px;
			}
			
			position: absolute;
			bottom: 3px; right: 3px;

			cursor: pointer;

			&:hover:not(:active) {
				background-color: var(--white);
				color: var(--accent_0);
			}
		}

		&[data-visible="true"] {
			&[data-open="true"] {
				div.preview,
				div.open-close div.open
					{ display: none; }
			}

			&[data-open="false"] {
				div.body,
				div.open-close div.close
					{ display: none; }

				cursor: pointer;

				&:hover {
					border-color: var(--white);
				}
			}
		}

		&[data-visible="false"] {
			display: none;
		}
	}

	div.welcome {
		position: relative;

		h1.greeting {
			display: flex;
			margin: 0 0 -10px 0;

			font-size: 64px;
			font-weight: bold;

			white-space-collapse: collapse;

			span {
				animation: greeting 2000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;

				@keyframes greeting {
					0%   { transform: translateY(0   ); }
					50%  { transform: translateY(10px); }
					100% { transform: translateY(0   ); }
				}
			}
		}

		a.pfp {
			img {
				width: 64px; height: 64px;

				object-position: center;
				object-fit: cover;

				position: absolute;
				top: 3px; right: 3px;

				border: 3px solid var(--accent_6);
			}

			&[href] img:hover {
				border-color: var(--white);
			}
		}
	}

	div.status div.panel {
		display: grid;
		grid-auto-rows: max-content;

		padding: 3px;

		div.feeling, div.date {

			> span {
				max-width: fit-content;
				background-color: var(--accent_6);
				padding: 0 5px;
				text-transform: uppercase;
			}
		}

		div.feeling span span.content {
			font-weight: bold;
		}

		div.body {
			padding: 0 13px;
		}

		div.date {
			> span {
				float: right;
			}

			&:not(:hover) > span span.locale
				{ display: none; }
			&:hover > span span.relative
				{ display: none; }
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			
			@size: 6px;

			top: 3px;
			left: -3px;
			right: unset;
			width: 0;
			height: 0;
			margin: 0 0 -@size -@size;
			border-style: solid;
			border-width: 0 0 @size @size;
			border-color: transparent transparent var(--accent_6) transparent;
		}
	}

	div.projects {
		display: flex;
		flex-direction: column;
		gap: 8px;

		[data-project="null"] {
			@accent: red;
			each(@color[@@accent], {
				--accent_@{key}: var(--@{accent}_@{key});
			});
		}

		.revertAnchor();


		div.project {
			display: flex;
			flex-direction: row;
			gap: 16px;

			padding: 8px 16px;
			
			color: var(--white);
			border: 3px solid var(--accent_5);
			background-image: linear-gradient(to bottom, var(--accent_6), var(--accent_5) 10%, var(--accent_6));
			background-size: cover;

			img.icon {
				width: 64px; height: 64px;
				object-fit: contain;
			}

			div.content {
				display: flex;
				flex-direction: column;
				align-content: center;
				justify-content: center;
				gap: 8px;

				span {
					display: block;

					&.title {
						font-size: 24px;
						font-weight: bold;
					}
				}
			}

			&::after {
				display: flex;
				flex: 1;
				align-self: center;
				flex-direction: column;
				align-items: flex-end;

				min-width: 32px;
				height: 32px;
				
				content: url(
					"data:image/svg+xml, \
					<svg \
						xmlns='http://www.w3.org/2000/svg' \
						width='32' height='32' viewBox='0 0 24 24' \
						fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' \
						data-lucide='chevron-right' class='lucide lucide-chevron-right' \
					> \
						<path d='m9 18 6-6-6-6'></path> \
					</svg>"
				);
			}

			&:hover {
				border-color: var(--accent_6);
				background-image: linear-gradient(to bottom, var(--accent_7), var(--accent_6) 10%, var(--accent_8));
				
				img.icon {
					filter: drop-shadow(var(--accent_5) 0 0 6px);
				}
				
				color: var(--black);
				div.content span.desc { color: var(--black); }
				&::after { filter: brightness(0%); }
			}
		}
	}
}

@media (max-width: 700px) {
	#grid {
		grid-template-columns: 1fr;
		grid-template-areas:
			"announcement"
			"welcome     "
			"status      "
			"projects    "
			"identity    "
			"zoologist   "
			"todo        "
		;

		div.status div.panel::before {
			
			@size: 6px;

			top: calc(-@size + -3px);
			left: calc(@size + 3px);
			right: unset;
			width: 0;
			height: 0;
			margin: 0 0 -@size -@size;
			border-style: solid;
			border-width: 0 0 @size @size;
			border-color: transparent transparent var(--accent_6) transparent;
		}
	}
}

// LAGGY:
/* div.panel {
	border-radius: 10px;
	&::before {
		top: 0; left: 4px;
		border-radius: 0 0 3px 3px;
	}
}

#grid div.welcome a.pfp img {
	border-radius: 50%;
} */