@import "/font/IBM_Plex_Sans.css";

@import "/util/style/pallete.less";
@import "/util/style/main.less";

body {
	margin: 0;
	padding: 100px 50px;
}

div.box {
	padding: 8px 16px;

	position: relative;
	background-image: linear-gradient(to bottom right, @accent-6, 70%, @accent-2);
	background-size: cover;
	background-attachment: fixed;

	border: 3px solid @accent0;

	&::before {
		content: attr(data-label);
		text-transform: uppercase;

		position: absolute;
		top: 0; left: 0;

		padding: 0 3px;

		font-size: 12px;
		font-weight: bolder;

		background-color: @accent0;
		color: white;

		transform: translateY(calc(0px - 100% / 2)) scaleY(0);
		transition: transform 100ms ease-out;
	}
	&:hover::before {
		transform: none;
	}
}

#grid {
	max-width: 1000px;
	margin: auto;

	display: grid;
	grid-template-columns: 4fr 1fr 4fr;
	grid-gap: 10px;
	grid-template-areas:
		"announcement announcement announcement"
		"welcome      welcome      status      "
		"identity     zoologist    zoologist   "
		"todo         todo         todo        "
	;

	div.announcement { grid-area: announcement; }
	div.welcome      { grid-area: welcome;      }
	div.status       { grid-area: status;       }
	div.identity     { grid-area: identity;     }
	div.zoologist    { grid-area: zoologist;    }
	div.todo         { grid-area: todo;         }

	div.announcement {
		position: relative;

		div.preview {
			padding: 3px 6px;
			span.content {
				text-transform: uppercase;
			}
		}

		div.body {
			padding: 16px 32px;
		}

		div.open-close {
			&, div {
				width: 24px; height: 24px;
			}
			
			position: absolute;
			bottom: 3px; right: 3px;

			cursor: pointer;

			&:hover:not(:active) {
				background-color: @white;
				color: @accent-6;
			}
		}

		&[data-visible="true"] {
			&[data-open="true"] {
				div.preview,
				div.open-close div.open
					{ display: none; }
				div.body,
				div.open-close div.close
					{ display: block; }
			}

			&[data-open="false"] {
				div.preview,
				div.open-close div.open
					{ display: block; }
				div.body,
				div.open-close div.close
					{ display: none; }

				cursor: pointer;

				&:hover {
					border-color: @white;
				}
			}
		}

		&[data-visibile="false"] {
			display: none;
		}
	}

	div.welcome {
		position: relative;

		h1.greeting {
			display: flex;
			margin: 0 0 -10px 0;

			font-size: 64px;
			font-weight: bold;

			white-space-collapse: collapse;

			span {
				animation: greeting 2000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;

				@keyframes greeting {
					0%   { transform: translateY(0   ); }
					50%  { transform: translateY(10px); }
					100% { transform: translateY(0   ); }
				}
			}
		}

		a.pfp {
			img {
				width: 64px; height: 64px;

				object-position: center;
				object-fit: cover;

				position: absolute;
				top: 3px; right: 3px;

				border: 3px solid @accent0;
			}

			&[href] img:hover {
				border-color: @white;
			}
		}
	}

	div.status {
		
	}
}

// LAGGY:
/* div.box {
	border-radius: 10px;
	&::before {
		top: 0; left: 4px;
		border-radius: 0 0 3px 3px;
	}
}

#grid div.welcome a.pfp img {
	border-radius: 50%;
} */