#title {
	display: none;
	flex-direction: column;
	gap: 3px;

	max-width: 200px;
	padding: 4px 6px;
	
	position: fixed;
	z-index: 2;

	line-break: auto;

	border: 1px solid var(--accent_6);
	background-image: linear-gradient(to bottom right, var(--accent_0), 70%, var(--accent_4));
	background-size: cover;
	background-attachment: fixed;

	span.title {
		display: block;
		font-size: 16px;
	}
	span.desc {
		display: block;
		font-size: 12px;
		color: var(--accent_9);
	}
	span.ctc {
		display: none;
		span.success, span.failure {
			display: none;
			padding: 2px 5px;
			max-width: max-content;

			background-color: var(--accent_6);

			svg {
				vertical-align: middle;
			}
		}
	}

	&.ctc-success { display: block !important;
		span.ctc { display: block;
			span.success { display: block; }
		}
	}
	&.ctc-failure { display: block !important;
		span.ctc { display: block;
			span.failure { display: block; }
		}
	}
}