:root {
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);

	--grayscale_0: hsl(0, 0%, 8.33%);
	--grayscale_1: hsl(0, 0%, 16.67%);
	--grayscale_2: hsl(0, 0%, 25%);
	--grayscale_3: hsl(0, 0%, 33.33%);
	--grayscale_4: hsl(0, 0%, 41.67%);
	--grayscale_5: hsl(0, 0%, 50%);
	--grayscale_6: hsl(0, 0%, 58.33%);
	--grayscale_7: hsl(0, 0%, 66.67%);
	--grayscale_8: hsl(0, 0%, 75%);
	--grayscale_9: hsl(0, 0%, 83.33%);
	--grayscale_10: hsl(0, 0%, 91.67%);

	--red_0: hsl(318, 85%, 5% );
	--red_1: hsl(322, 81%, 10%);
	--red_2: hsl(327, 83%, 15%);
	--red_3: hsl(332, 81%, 20%);
	--red_4: hsl(337, 82%, 30%);
	--red_5: hsl(342, 82%, 40%);
	--red_6:  hsl(347, 82%, 50%);
	--red_7:  hsl(349, 82%, 60%);
	--red_8:  hsl(351, 82%, 70%);
	--red_9:  hsl(353, 82%, 80%);
	--red_10:  hsl(357, 82%, 90%);

	--accent_0: var(--red_0);
	--accent_1: var(--red_1);
	--accent_2: var(--red_2);
	--accent_3: var(--red_3);
	--accent_4: var(--red_4);
	--accent_5: var(--red_5);
	--accent_6:  var(--red_6);
	--accent_7:  var(--red_7);
	--accent_8:  var(--red_8);
	--accent_9:  var(--red_9);
	--accent_10:  var(--red_10);
}