:root {
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);

	--grayscale_0:  hsl(0, 0%, 8% );
	--grayscale_1:  hsl(0, 0%, 17%);
	--grayscale_2:  hsl(0, 0%, 25%);
	--grayscale_3:  hsl(0, 0%, 33%);
	--grayscale_4:  hsl(0, 0%, 42%);
	--grayscale_5:  hsl(0, 0%, 50%);
	--grayscale_6:  hsl(0, 0%, 58%);
	--grayscale_7:  hsl(0, 0%, 67%);
	--grayscale_8:  hsl(0, 0%, 75%);
	--grayscale_9:  hsl(0, 0%, 83%);
	--grayscale_10: hsl(0, 0%, 92%);

	--glacier_0:  hsl(222, 30%, 8% );
	--glacier_1:  hsl(222, 25%, 17%);
	--glacier_2:  hsl(222, 20%, 25%);
	--glacier_3:  hsl(222, 17%, 33%);
	--glacier_4:  hsl(222, 15%, 42%);
	--glacier_5:  hsl(222, 14%, 50%);
	--glacier_6:  hsl(222, 17%, 58%);
	--glacier_7:  hsl(222, 19%, 67%);
	--glacier_8:  hsl(222, 21%, 75%);
	--glacier_9:  hsl(222, 23%, 83%);
	--glacier_10: hsl(222, 25%, 92%);

	--blueberry_0:  hsl(240, 45%,  15%);
	--blueberry_1:  hsl(238, 41%,  20%);
	--blueberry_2:  hsl(236, 42%,  25%);
	--blueberry_3:  hsl(234, 44%,  33%);
	--blueberry_4:  hsl(232, 47%,  42%);
	--blueberry_5:  hsl(230, 49%,  52%);
	--blueberry_6:  hsl(228, 56%,  61%);
	--blueberry_7:  hsl(226, 60%,  69%);
	--blueberry_8:  hsl(224, 81%,  79%);
	--blueberry_9:  hsl(222, 97%,  88%);
	--blueberry_10: hsl(220, 100%, 92%);

	--red_0:  hsl(317, 85%, 5% );
	--red_1:  hsl(322, 85%, 10%);
	--red_2:  hsl(327, 85%, 15%);
	--red_3:  hsl(332, 85%, 20%);
	--red_4:  hsl(337, 85%, 30%);
	--red_5:  hsl(342, 85%, 40%);
	--red_6:  hsl(347, 85%, 50%);
	--red_7:  hsl(349, 85%, 60%);
	--red_8:  hsl(351, 85%, 70%);
	--red_9:  hsl(353, 85%, 80%);
	--red_10: hsl(357, 85%, 90%);

	--orange_0:  hsl(4,  85%, 5% );
	--orange_1:  hsl(8,  85%, 10%);
	--orange_2:  hsl(12, 85%, 15%);
	--orange_3:  hsl(16, 85%, 20%);
	--orange_4:  hsl(20, 85%, 30%);
	--orange_5:  hsl(24, 85%, 40%);
	--orange_6:  hsl(28, 85%, 50%);
	--orange_7:  hsl(30, 85%, 60%);
	--orange_8:  hsl(32, 85%, 70%);
	--orange_9:  hsl(34, 85%, 80%);
	--orange_10: hsl(36, 85%, 90%);

	--yellow_0:  hsl(12, 85%, 5% );
	--yellow_1:  hsl(18, 85%, 10%);
	--yellow_2:  hsl(24, 85%, 15%);
	--yellow_3:  hsl(30, 85%, 20%);
	--yellow_4:  hsl(36, 85%, 30%);
	--yellow_5:  hsl(42, 85%, 40%);
	--yellow_6:  hsl(48, 85%, 50%);
	--yellow_7:  hsl(52, 85%, 60%);
	--yellow_8:  hsl(56, 85%, 70%);
	--yellow_9:  hsl(60, 85%, 80%);
	--yellow_10: hsl(64, 85%, 90%);

	--green_0:  hsl(198, 85%, 5% );
	--green_1:  hsl(190, 85%, 10%);
	--green_2:  hsl(182, 85%, 15%);
	--green_3:  hsl(174, 85%, 20%);
	--green_4:  hsl(166, 85%, 30%);
	--green_5:  hsl(158, 85%, 40%);
	--green_6:  hsl(150, 85%, 50%);
	--green_7:  hsl(140, 85%, 63%);
	--green_8:  hsl(130, 85%, 75%);
	--green_9:  hsl(120, 85%, 85%);
	--green_10: hsl(110, 85%, 90%);

	--cyan_0:  hsl(210, 85%,  5%);
	--cyan_1:  hsl(205, 85%, 10%);
	--cyan_2:  hsl(200, 85%, 15%);
	--cyan_3:  hsl(195, 85%, 20%);
	--cyan_4:  hsl(190, 85%, 30%);
	--cyan_5:  hsl(185, 85%, 40%);
	--cyan_6:  hsl(180, 85%, 50%);
	--cyan_7:  hsl(180, 85%, 60%);
	--cyan_8:  hsl(180, 85%, 70%);
	--cyan_9:  hsl(180, 85%, 80%);
	--cyan_10: hsl(180, 85%, 90%);

	--blue_0:  hsl(245, 85%, 5% );
	--blue_1:  hsl(240, 85%, 10%);
	--blue_2:  hsl(235, 85%, 15%);
	--blue_3:  hsl(230, 85%, 20%);
	--blue_4:  hsl(225, 85%, 30%);
	--blue_5:  hsl(220, 85%, 40%);
	--blue_6:  hsl(215, 85%, 50%);
	--blue_7:  hsl(210, 85%, 60%);
	--blue_8:  hsl(205, 85%, 70%);
	--blue_9:  hsl(200, 85%, 80%);
	--blue_10: hsl(195, 85%, 90%);

	--purple_0:  hsl(254, 85%, 5% );
	--purple_1:  hsl(260, 85%, 10%);
	--purple_2:  hsl(266, 85%, 15%);
	--purple_3:  hsl(272, 85%, 20%);
	--purple_4:  hsl(276, 85%, 30%);
	--purple_5:  hsl(282, 85%, 40%);
	--purple_6:  hsl(288, 85%, 50%);
	--purple_7:  hsl(292, 85%, 60%);
	--purple_8:  hsl(296, 85%, 70%);
	--purple_9:  hsl(300, 85%, 80%);
	--purple_10: hsl(304, 85%, 90%);

	--magenta_0:  hsl(290, 85%, 5% );
	--magenta_1:  hsl(295, 85%, 10%);
	--magenta_2:  hsl(300, 85%, 15%);
	--magenta_3:  hsl(305, 85%, 20%);
	--magenta_4:  hsl(310, 85%, 30%);
	--magenta_5:  hsl(315, 85%, 40%);
	--magenta_6:  hsl(320, 85%, 50%);
	--magenta_7:  hsl(325, 85%, 63%);
	--magenta_8:  hsl(330, 85%, 70%);
	--magenta_9:  hsl(335, 85%, 80%);
	--magenta_10: hsl(340, 85%, 90%);

	--accent_0:  var(--red_0);
	--accent_1:  var(--red_1);
	--accent_2:  var(--red_2);
	--accent_3:  var(--red_3);
	--accent_4:  var(--red_4);
	--accent_5:  var(--red_5);
	--accent_6:  var(--red_6);
	--accent_7:  var(--red_7);
	--accent_8:  var(--red_8);
	--accent_9:  var(--red_9);
	--accent_10: var(--red_10);
}