@import "../util/style/pallete.less";
@import "../util/style/initial.less";

main {
    min-width: 24em;
    max-width: 64em;
    padding: 100px 50px;
    margin: auto;

    @media (max-width: 500px) {
        padding: 100px 8vw;
    }
}
