@import "./util/style/pallete.less";
@import "./util/style/initial.less";

@import "./util/style/element/panel.less";
@import "./util/style/element/menubar.less";
@import "./util/style/element/title.less";

body {
    margin: 0;
    padding: 100px 50px;
}

main {
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-gap: 10px;
    grid-template-areas:
        "marquee   marquee   marquee  "
        "welcome   welcome   status   "
        "identity  zoologist zoologist"
        "social    social    social   "
        "projects  projects  projects "
        "todo      todo      todo     "
    ;

    @panels:
        marquee,
        welcome,   status,
        zoologist, identity,
        social,
        projects,
        todo
    ;

    each(@panels, {
        section#@{value} { grid-area: @value }
    });

    section { .panel(); }

    #marquee {
        position: relative;
        details {
            display: block;
            list-style: none;
            summary {
                list-style: none;
                span {
                    text-transform: uppercase;
                }
                time {
                    margin-left: 0.5em;
                    color: var(--accent_9);
                    &::before {
                        content: "\2014";
                        margin-right: 0.5em;
                    }
                }
            }

            > time {
                color: var(--accent_9);
                text-indent: 2em;
            }

            + button.open-close {
                all: unset;
    
                &, svg {
                    width: 1.5em;
                    height: 1.5em;
                }
    
                position: absolute;
                bottom: 0.25em;
                right: 0.25em;
    
                cursor: pointer;
    
                color: var(--white);
    
                &:hover:not(:active) {
                    background-color: var(--white);
                    color: var(--accent_0);
                }
            }

            &:not([open]) {
                padding: 0.25em 0.5em;
                + button.open-close svg.lucide-chevron-up {
                    display: none;
                }
            }
            &[open] {
                padding: 2em;
                summary {
                    display: none;
                }
                + button.open-close svg.lucide-chevron-down {
                    display: none;
                }
            }
        }

        &:has(details:not([open])) {
            cursor: pointer;
            &:hover {
                border-color: var(--white);
            }
        }
    }

    #welcome {
        img.avatar {
            width: 4em;
            height: 4em;

            object-position: center;
            object-fit: cover;

            position: absolute;
            top: 0.25em;
            right: 0.25em;

            border: 0.25em solid var(--accent_6);

        }
        a[href] img.avatar:hover {
            border-color: var(--white);
        }

        hgroup {
            font-size: 2em;
            h1 {
                display: flex;
                margin: 0 0 -0.25em;

                font-weight: bolder;

                span {
                    animation: greeting 2000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;
                    @keyframes greeting {
                        0%   { transform: translateY(0   ); }
                        50%  { transform: translateY(10px); }
                        100% { transform: translateY(0   ); }
                    }
                }
            }

            p {
                font-weight: bold;
            }
        }
    }

    #status {
        display: flex;
        flex-direction: column;
        align-self: start;
        max-height: 100%;

        padding: 0.25em;

        h2, time > span {
            max-width: fit-content;
            padding: 0 0.25em;
            text-transform: uppercase;
            background-color: var(--accent_6);
        }

        h2 {
            margin: 0;
            font-size: 1em;
            font-weight: normal;
        }
        time {
            > span {
                float: right;
            }

            &:not(:hover) > span.locale,
            &:hover > span.relative {
                display: none;
            }
        }

        div.content {
            padding: 0 0.75em;
        }

        &::before {
            font-size: 0.4em;

			content: "";
			display: block;
			position: absolute;

			top: 0.5em;
			left: -0.5em;
			right: unset;
			width: 0;
			height: 0;
			margin: 0 0 -1em -1em;
			border-style: solid;
			border-width: 0 0 1em 1em;
			border-color: transparent;
            border-bottom-color: inherit;
        }
    }

    #identity {

    }

    #zoologist {
        ul.honorable-mentions {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5em;
            align-items: center;
            padding: 0;
            list-style: none;

            li {
                flex: 1;
                img {
                    position: relative;
                    width: 100%;
                    min-width: 8em;
                    transition:
                        transform 100ms ease-out,
                        filter    100ms ease-out;
                    &:hover {
                        transform: scale(1.2);
                        filter: drop-shadow(#0003 0 0.25em 1em);
                        z-index: 1;
                    }
                }
            }
        }
    }

    #todo {
        ul.issues {
            a {
                text-decoration: none;
            }
            p time {
                margin-left: 0.5em;
                color: var(--accent_9);
                &::before {
                    content: "\2014";
                    margin-right: 0.5em;
                }
            }
        }
    }
}
