name: "Deploy landing: Desktop"

on:
  push:
    branches:
      - "main"
    paths:
      - "landing/desktop/**"
  workflow_dispatch:
    inputs:
      neocities:
        description: "Neocities"
        type: boolean
        required: false
        default: true

jobs:
  deploy:
    name: "Neocities"
    runs-on: ubuntu-latest
    if: ${{ inputs.neocities }}
    steps:
      - uses: actions/checkout@v1
      - uses: kognise/neocities-deploy-action@v1
        with:
          neocities_token: ${{ secrets.NEOCITIES_TOKEN }}
          directory: "./landing/desktop"
