name: Deploy to Neocities

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: "Deploy to Neocities"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: kognise/neocities-deploy-action@v1
        with:
          neocities_token: ${{ secrets.NEOCITIES_TOKEN }}
          directory: "./landing/desktop"
